flows.json
[{"id":"33f593c3.8466cc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6d262e.907eda","type":"function","z":"33f593c3.8466cc","name":"PreToken","func":"//global.set (\"Age\", msg.payload.d.Age);\nglobal.set (\"Temperature\", msg.payload.d.Temperature);\nglobal.set (\"Systolic\", msg.payload.d.Systolic);\nglobal.set (\"Diastolic\", msg.payload.d.Diastolic);\nglobal.set (\"Pulse\", msg.payload.d.Pulse);\n\nvar apikey=\"jHMtKK-ybG0QCTKAVI0cGN0yc4jlVd6j_aR2tbXXAZqs\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["7f33a996.a5ec48"]]},{"id":"7f33a996.a5ec48","type":"http request","z":"33f593c3.8466cc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":120,"wires":[["15d9d4a.da1cd2b"]]},{"id":"52c38bb5.b47ad4","type":"debug","z":"33f593c3.8466cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":830,"y":360,"wires":[]},{"id":"15d9d4a.da1cd2b","type":"function","z":"33f593c3.8466cc","name":"Pre Prediction","func":"var Age = global.get('Age')\nvar Temperature = global.get('Temperature')\nvar Systolic = global.get('Systolic')\nvar Diastolic = global.get('Diastolic')\nvar Pulse = global.get('Pulse')\nvar token=msg.payload.access_token\nvar instance_id=\"7bf60648-7152-4b71-b92c-2bce24b7fb20\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"], \"values\": [[Age,Temperature,Systolic,Diastolic,Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["6b1aa271.9e1fdc"]]},{"id":"6b1aa271.9e1fdc","type":"http request","z":"33f593c3.8466cc","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/b5b2f3c0-8ef5-4eae-ae67-2cdb9251b5e0/predictions","tls":"","persist":false,"proxy":"","authType":"","x":550,"y":260,"wires":[["f1ae5597.feb9f8","b061771c.800008"]]},{"id":"b061771c.800008","type":"function","z":"33f593c3.8466cc","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":260,"wires":[["52c38bb5.b47ad4"]]},{"id":"f1ae5597.feb9f8","type":"function","z":"33f593c3.8466cc","name":"output Parsing","func":"var age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"output\",output)\n\nmsg.payload = {\n details: {\n health: {\n age: age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":420,"wires":[["add6dc0f.82ba7"]]},{"id":"add6dc0f.82ba7","type":"ui_template","z":"33f593c3.8466cc","group":"a2ee0604.60f468","name":"","order":1,"width":"0","height":"0","format":"<div layout=\"row\" layout-align=\"start center\">\n <span flex>Age</span>\n <span flex>Temperature</span>\n <span flex>Systloic</span>\n <span flex>Dialostic</span>\n <span flex>Pulse</span>\n <span flex>Output</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\" ng-repeat=\"health in msg.payload.details\">\n <span flex style=\"color: green\"> {{health.age}} </span>\n <span flex style=\"color: red\"> {{health.temperature}} </span>\n <span flex style=\"color: blue\"> {{health.systolic}} </span>\n <span flex style=\"color: orange\"> {{health.diastloic}} </span>\n <span flex style=\"color: black\"> {{health.pulse}} </span>\n <span flex style=\"color: Brown\"> {{health.output}} </span>\n </div>\n \n ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":420,"wires":[[]]},{"id":"1be3d4a.bd4c72b","type":"ibmiot in","z":"33f593c3.8466cc","authentication":"apiKey","apiKey":"682bc1a7.b8f7d","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1002","applicationId":"","deviceType":"project","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":120,"wires":[["e6d262e.907eda"]]},{"id":"cb785620.0517c8","type":"ibmiot out","z":"33f593c3.8466cc","authentication":"apiKey","apiKey":"682bc1a7.b8f7d","outputType":"evt","deviceId":"1002","deviceType":"project","eventCommandType":"home","format":"string","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":520,"wires":[]},{"id":"cbcc3f73.dc28e","type":"function","z":"33f593c3.8466cc","name":"Output function","func":"msg.payload=global.get('output')\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":520,"wires":[["cb785620.0517c8","751850d6.b8db8"]]},{"id":"6fdd7ccb.9af8f4","type":"inject","z":"33f593c3.8466cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":520,"wires":[["cbcc3f73.dc28e"]]},{"id":"751850d6.b8db8","type":"debug","z":"33f593c3.8466cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":600,"wires":[]},{"id":"2472542d.ce7b6c","type":"http in","z":"33f593c3.8466cc","name":"","url":"/output","method":"get","upload":false,"swaggerDoc":"","x":190,"y":700,"wires":[["44a6727d.098bec"]]},{"id":"5ef30237.a1464c","type":"http response","z":"33f593c3.8466cc","name":"","statusCode":"","headers":{},"x":570,"y":700,"wires":[]},{"id":"44a6727d.098bec","type":"function","z":"33f593c3.8466cc","name":"response","func":"msg.payload= {\"Health condition\" :global.get('output')}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["5ef30237.a1464c"]]},{"id":"d2707a50.46b8a8","type":"function","z":"33f593c3.8466cc","name":"response","func":"return msg;","outputs":1,"noerr":0,"x":340,"y":800,"wires":[["c094867e.c42a38","b4ed0e4a.36c13"]]},{"id":"e92ae4e2.7555a8","type":"http in","z":"33f593c3.8466cc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":800,"wires":[["d2707a50.46b8a8"]]},{"id":"239dc232.6ae45e","type":"http response","z":"33f593c3.8466cc","name":"","statusCode":"","headers":{},"x":630,"y":800,"wires":[]},{"id":"c094867e.c42a38","type":"debug","z":"33f593c3.8466cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":900,"wires":[]},{"id":"b4ed0e4a.36c13","type":"function","z":"33f593c3.8466cc","name":"","func":"global.set (\"Age\", msg.payload.age);\nglobal.set (\"gender\", msg.payload.gender);\nglobal.set (\"name\", msg.payload.name);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":800,"wires":[["239dc232.6ae45e"]]},{"id":"fcca74ed.fd22f8","type":"cloudant out","z":"33f593c3.8466cc","name":"","cloudant":"","database":"healthrecord","service":"node-red-lbjbi-cloudant-1591330076234-72303","payonly":false,"operation":"insert","x":610,"y":980,"wires":[]},{"id":"99ef7b92.3009c8","type":"function","z":"33f593c3.8466cc","name":"","func":"msg.payload={\"name\":global.get('name'),\"age\":global.get('Age'), \"gender\":global.get('gender'), \"Temperature\":global.get('Temperature'), \"Systolic\":global.get('Systolic'), \"Diastolic\":global.get('Diastolic'), \"Pulse\":global.get('Pulse'), \"output\":global.get('output') }\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":980,"wires":[["fcca74ed.fd22f8"]]},{"id":"61940fd1.d8881","type":"inject","z":"33f593c3.8466cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"120","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":980,"wires":[["99ef7b92.3009c8"]]},{"id":"a2ee0604.60f468","type":"ui_group","z":"","name":"Health Readings","tab":"ba4c5a56.f4c208","order":1,"disp":true,"width":"20","collapse":false},{"id":"682bc1a7.b8f7d","type":"ibmiot","z":"","name":"Health Monitoring","keepalive":"60","serverName":"n3z7ci.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ba4c5a56.f4c208","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]